@import url('../style.css');


.about-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    color: var(--accent-color);
    height: 90vh;
}
.about-title {
    width: 90%;
    font-family: var(--normal-font);
    color: var(--accent-color);
    margin: 0 0 130px 0;
}

.about-text {
    color: var(--accent-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    text-align: left;
    font-family: var(--normal-font);
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h1 {
    font-size: 1.5rem;
}
.about-text p,
.about-title p {
    font-size: 0.8rem;
    color: var(--accent-color);
}
