@import url('../style.css');

.contact-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-title {
    width: 90%;
    font-family: var(--normal-font);
    color: var(--accent-color);
}
 h1{
    font-size: 1.5rem;
}
p {
    font-size: 0.8rem;
}
.contact-details {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 90%;
    font-family: var(--normal-font);
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.contact-details-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 5px;
    padding: 10px;
}
.contact-panels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.rate-store, 
.store-directory, 
.follow-socials, 
.main-address {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.rate-store button,
.store-directory button {
    width: 100%;
    margin: 30px 0 0 0;
    font-size: 0.8rem;
}
.follow-socials ul {
    display: flex;
    align-items: center;
    gap: 5%;
}
.follow-socials svg {
    fill: var(--accent-color);
    transition: 300ms ease;
}

.follow-socials svg:hover {
  fill: var(--primary-color);
  transform: translateY(-10px);
}
