@import url('../style.css');


.product-container {
    width: 100%;
    padding: 40px 100px;

    background-color: var(--main-bg-color);
}

.menu-greetings {
    color: var(--accent-color);
    font-family: var(--normal-font);
}

.menu-greetings h1 {
    font-size: 1.5rem;
}

.menu-greetings p {
    font-size: 0.9rem;
}

.product-category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-name {
    background-color: var(--accent-color);
    width: 100%;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
}

.product-category > .category-name {
    margin-top: 50px;
}

.item-container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px 10px;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    background-color: var(--main-bg-color);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease;

    overflow: hidden;
}

.item h3 {
    font-size: 1.3rem;
}

.item:hover {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease;
}
.item:hover img{
    transform: scale(1.1);
}
.item img {
    width: 70%;

    transition: all 300ms ease-out;
}
.item h3 {
    font-size: 1.5rem;
    font-family: var(--header-font);
    color: var(--accent-color);
    width: 80%;
}
.item p {
    font-size: 0.7rem;
    font-family: var(--normal-font);
    width: 80%;
    margin: 5px 0;
}
.item p + p {
    color: var(--primary-color);
    font-weight: 800;
}

.item button {
    margin: 10px;
    padding: 10px;
    width: 80%;
    font-size: 0.8rem;
    font-family: var(--normal-font);
    font-weight: 800;

    border: none;
    background-color: var(--secondary-color);
    border-radius: 3px;
    cursor: pointer;
}
.item button:active{
    background-color: var(--primary-color);
}



