@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Outfit:wght@100..900&display=swap');

/*  ROOT  */
:root {
  --main-color: #333333;
  --main-bg-color: #FAF9F6;
  --primary-color: #D62700;
  --accent-color: #502322;
  --secondary-color: #FFB800;
  --subtext-color: #555555;
  --divider-color: #D9D9D9;
  --text-color: #000000;
  --header-font: Changa One;
  --normal-font : Tahoma, Geneva, Verdana, sans-serif;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 1px solid none;
}

html, body {
  font-size: 1.4em;
  background-color: var(--main-bg-color);
  scroll-behavior: smooth;
}

body {
  opacity: 0; 
  animation: fadeIn 1.5s forwards;
}

li { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}
img {
  mix-blend-mode: multiply;
}

#home,
#products,
#about,
#contact,
#whopper,
#chicken_rice,
#sides,
#breakfast,
#drinks,
#desserts {
  scroll-margin-top: 110px;
}


/*  MAIN LAYOUT  */
.navigation-main,
.main-content,
.product-content,
.about-content,
.contact-content {
  min-width: 100%;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 100px;
}

/* NAVIGATION */
.main .navigation-main {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;

  height: 100px;
  padding: 0 20px;

  background-color: var(--main-bg-color);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);

  font-family: Changa One, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-container {
  flex: 1;
  margin: 80px;
}



/* taggalin mo rin to HAHAHAHA */
.logo-container img {
  height: 100px;
  display: block;

  /* animation: spinning 4s linear infinite; */
}
.logo-container img:hover {
  animation-play-state: paused;
}






.menu-container {
  display: flex;
  align-items: center;
}

.menu-container li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  margin: 0 30px;
  font-size: 1rem;
  color: var(--accent-color);
}

.menu-container span {
  height: 50px;
  width: 4px;
  border-radius: 10px;
  display: block;
  background-color: var(--primary-color);
}

.menu-container li a::after {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--accent-color);

  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu-container li a:hover::after {
  transform: scaleX(1);
}

.menu-container li:nth-child(6) a::after,
.menu-container li:nth-child(7) a::after {
  all: unset;
}


/*  HOME SECTION  */
.main-content {
  display: flex;
  align-items: center;

  min-height: 90vh;
  gap: 5%;
  padding: 0 50px;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 100px 0;
}

.text-content h1 {
  font-family: Changa One, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  color: var(--primary-color);
}

.text-content p {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: var(--accent-color);
  font-size: 1.1rem;
}

.text-content .buttons button {
  margin: 60px 0 0 0;
  padding: 16px 25px;

  font-size: 1rem;
  color: #fff;

  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.main-image {
  width: 100%;
}

.main-image img {
  width: 100%;
  height: auto;
  display: block;
}


/*  PRODUCTS SECTION  */
.product-content {
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;

  background-color: var(--accent-color);
}

.product-category h2 {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: var(--main-bg-color);
}

.products {
  display: grid;
  grid-template-columns: repeat(3, minmax(220px, 1fr));
  gap: 20px;
}

.product {
  width: 100%;
  max-width: 300px;

  background-color: var(--main-bg-color);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.product-preview img {
  width: 100%;
  height: auto;
  transition: 300ms ease;
}

.product-details p {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  height: 15%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.3rem;
  font-family: var(--header-font);
  text-align: center;

  background-color: var(--main-bg-color);
  background-color: var(--secondary-color);
  color: var(--accent-color);

  border-radius: 0 0 8px 8px;
  transition: 300ms ease;
}

.product:hover p {
  height: 100%;
  border-radius: 8px;
  background-color: transparent;
  color: var(--accent-color);
}

.product:hover img {
  transform: scale(1.2);
  opacity: 0.3;
}

/*  ABOUT SECTION  */
.about-content {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #FFF4E0;
}

.about-text {
  padding: 5rem;
  text-align: center;
}

.about-content h2 {
  font-family: var(--header-font);
  font-size: 3rem;
  color: var(--primary-color);

  margin-bottom: 40px;
  letter-spacing: 2px;
}

.about-content h2 ~ p {
  margin: 1.4rem 0;
}

.about-content p {
  font-family: var(--normal-font), sans-serif;
  font-size: 1rem;
  line-height: 1.8;

  color: var(--main-color);
}

.about-content button {
  margin-top: 3rem;
  padding: 12px 50px;
  border-radius: 50px;

  background-color: var(--accent-color);
  color: var(--main-bg-color);

  font-size: 1rem;
  
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover {
  opacity: 0.9;
  transition: all 200ms ease;
}

button:active {
  transform: scale(0.95);
}

/*  CONTACT SECTION  */
.contact-content {
  width: 100%;

  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
}

.contact-texts {
  width: 42%;

  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  
  font-family: var(--normal-font);
  color: var(--accent-color);
  font-size: 1.1rem;
}

.contact-texts h1 {
  font-family: var(--normal-font);
  color: var(--accent-color);
}

.contact-texts h1 + p{
  font-size: 1rem;
  color: var(--accent-color);
  margin-bottom: 5rem;
}

.contact-texts p + p {
  font-size: 0.9rem;  
  font-style: italic;

  line-height: 1.5;
}

.contact-texts p + p a {
  text-decoration: underline;

  transition: all 200ms ease;
}
/* hover style para sa gmail link sa contact section */
.contact-texts p + p a:hover {
  color: var(--primary-color)
}

.contact-content img {
  width: 700px;
  height: 500px;

  border-radius: 10px;
  object-fit: cover;
  object-position: left;
}

.contact-details {
  width: 40%;
  height: 550px;

  padding: 10px 20px;

  font-size: 0.9rem;
  color: var(--accent-color);

  border-radius: 10px;
  box-shadow: 1px 5px 10px rgba(0,0,0,.5);
}

input, textarea, label {
  display: block;
  padding: 5px;
  margin: 4px 0;

  font-size: 0.9rem;
  font-family: var(--normal-font);
  border-radius: 5px;
}

input, textarea {
  width: 100%;
  resize: none;

  font-family: Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid var(--accent-color);
  background-color: var(--main-bg-color);
}

input:focus-visible,
textarea:focus-visible {
  outline: 2px solid var(--accent-color);
}

.contact-details button {
  width: 100px;
  padding: 8px;
  margin: 20px 0;

  font-size: 0.9rem;;
  font-family: var(--normal-font);

  color: var(--main-bg-color);
  background-color: var(--accent-color);

  border-radius: 5px;
  border: none;
  cursor: pointer;
}


/*  FOOTER  */
.footer-content {
  padding: 30px 0;

  font-size: .5em;
  color: whitesmoke;
  background-color: var(--accent-color);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-navigation {
  display: flex;
  gap: 200px;
  cursor: pointer;
}

.footer-navigation li {
  font-family: var(--header-font);

  transition: all 200ms ease;
}

.footer-navigation li:hover {
  color: var(--primary-color);
}


.footer-info {
  padding: 0 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-info svg {
  fill: var(--main-bg-color);
  transition: 300ms ease;
}

.footer-info svg:hover {
  fill: var(--primary-color);
  transform: translateY(-10px);
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}


/*  ANIMATION  */
@keyframes fadeIn {
  from { opacity: 0}
  to { opacity: 1}
}

@keyframes spinning {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}




